@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  line-height: 1;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --brand1: #FD377E;
  --brand2: #E34981;
  --brand3: #03B898;
  --grey1:  #212529;
  --grey2:  #868E96;
  --grey3:  #E9ECEF;
  --grey4:  #F8F9FA;
  --white:  #ffffff;

  --size1: 1.75rem;   /* 28px */
  --size2: 1.5rem;    /* 24px */
  --size3: 1.25rem;   /* 20px */
  --size4: 1rem;      /* 16px */
  --size5: 0.875rem;  /* 14px */

  --weight8: 800;
  --weight7: 700;
  --weight6: 600;
  --weight5: 500;
  --weight4: 400;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

@media (max-width: 725px) {
  .layout {
    flex-direction: column;
  }

  .layout .section-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    max-width: none;
  }

  .total-value{
    margin-top: 0;
  }

  .total-value div{
    flex-direction: column;
    gap: 12px;
  }

  .section-balance{
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 565px) {
  .layout .section-form{
    flex-direction: column;
  }

  .form div > div{
    width: 50%;
  }

  .total-value{
    width: 100%;
  }
  
  .total-value div{
    flex-direction: row;
  }

  .total-value div h2,
  .total-value div span{
    font-size: 20px;
  }
}